* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #595049;
  background-color: #F6F2EC;
  overflow-x: hidden;
}

/*header 시작*/
.header_content {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #F6F2EC;
  z-index: 100;
  top: 0;
  padding: 27px 50px;
  justify-content: center;
}
.header_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.contact_btn {
  text-decoration: none;
  font-family: "Antic Didone", serif;
  color: #595049;
  font-size: 23px;  
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  width: 110px;
  height: 90px;
  object-fit: contain;
}
/*햄버거 버튼*/
.menu_btn {
  font-size: 1.6rem;
  color: #595049;
  cursor: pointer;  
}
/*슬라이드 메뉴*/
.nav_menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #F6F2EC;
  list-style: none;
  padding: 120px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.nav_menu.active {
  right: 0;
}

.nav_menu li a {
  text-decoration: none;
  font-family: "Antic Didone", serif;
  color: #595049;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav_menu li a:hover {
  color: #A48D78;
}
/*header 끝*/

/*main section 시작*/
.main_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.main_wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.main_left {
  width: 40%;
  background-color: #F6F2EC;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 190px;
}
.content_box h2 {
  font-family: "Antic Didone", serif;
  font-size: 73px;
  color: #595049;
  line-height: 1.2;
}
.content_box p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #595049;
  line-height: 1.5;
  margin-top: 30px;
}
.view_btn {
  display: inline-block;
  font-family: "Antic Didone", serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #595049;
  border: 1px solid #A48D78;
  border-radius: 50px;
  padding: 16px 36px;
  margin-top: 30px;
}
.main_right {
  width: 60%;
  height: 100%;
}
.main_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*About 시작*/
.about {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

.about_pic .img_box {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.about_pic .img_box_img01,
.about_pic .img_box_img02,
.about_pic .img_box_img03 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: absolute;  
}

.about_pic .img_box_img01 {
  top: 7%;
  left: 10%;
  width: 611px;
  height: 611px;
  opacity: 0.9;
}

.about_pic .img_box_img02 {
  top: 19%;
  right: 12%;
  width: 450px;
  height: 450px;
  opacity: 0.9;
}
.about_pic .img_box_img03 {
  top: 65%;
  left: 40%;
  width: 410px;
  height: 410px;
  z-index: 2;
  stop-opacity: 0.9;
}
.about .text_box {
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide_text {
  opacity: 0;
  transform: translateY(60px);
  will-change: transform, opacity;
}
.show_text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease-out;
}
.about .text_box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.8rem;
  color: #3e322a;
  margin-bottom: 70px;
  align-items: center;
}
.text_box p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #3e322a;
  margin: 20px 0;
  align-items: center;
}
.parallax_active {
  transform: translateY(var(--parallax-shift, 0px));
}

/*About 끝*/

/*Portfolio 시작*/
.portfolio {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.portfolio .title_wrap {
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-wrap: column;
  align-items: center;
  justify-content: center;
}
.deco_square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deco_square img{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 20px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 0;
}
.section_title {
  position: relative;
  z-index: 1;
  font-family: "Antic Didone", serif;
  font-size: 48px;
  color: #595049;
  transform: translateY(160px) translateX(50px);
  letter-spacing: 2px;
}
.scroll_container {
  width: auto;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 200px 0;
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  margin-top: 100px;
}
.scroll_container li {
  list-style: none;
  display: inline-block;
}
.scroll_container img {
  width: 509px;
  height: 509px;
  object-fit: cover;
  border-radius: 17px;

}
.scroll_container::-webkit-scrollbar {
  display: none;
}
/*Portfolio 끝*/

/*rest 시작*/
.rest {
  width: 100%;
  height: 1048px;
  background-image: url(../image/mid-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.rest .rest_content {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translateY(-30%);
}
.rest .rest_content h3 {
  font-family: "GounBatang", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #595049;
  line-height: 2.5;
}
/*rest 끝*/

/*process 시작*/
.process {
  width: 100%;
  max-width: 1900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
}
.process .title_wrap {
  position: relative;
  text-align: left;
  margin: 150px 0 0 100px;
}
.deco_square {
  position: relative;
  
}
.deco_square img {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 0;
}
.process .section_title {
  position: relative;
  z-index: 1;
  font-family: "Antic Didone", serif;
  font-size: 48px;
  color: #595049;
  transform: translateY(140px) translateX(-40px);
  letter-spacing: 2px;
  margin-left: 90px;
}
.intro_text {
  width: 100%;
  box-sizing: border-box;
  margin: 170px 0 0 100px;
}
.intro_text p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #595049;
  line-height: 1.5;
}

.process_tabs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 200px;
  padding: 0 100px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 80px;
  margin-bottom: 70px;
  transform: translateX(-130px);
}
.tab {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
}
.tab_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
.tab .num {
  font-family: 'Abhaya Libre', serif;
  font-size: 96px;
  line-height: 1;
  margin-bottom: -6px;
  font-weight: bold;
  color: #595049;
  opacity: 0.04;
  transition: opacity 0.4s ease;
  display: block;
}
.tab .label {
  font-family: "Antic Didone", serif;
  font-size: 36px;
  color: #595049;
  margin-top: -30px;
  margin-left: 80px;
  opacity: 0.28;
  transition: opacity 0.4s ease;
}
.tab.active .num {
  color: #3a2f28;
}
.tab.active .label {
  color: #3a2f28;
}
.tab.active .num,
.tab.active .label {
  opacity: 1;
}
.tab_contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  transition: all 0.6s ease;;
}
.tab_content {
  width: 100%;
  max-width: 550px;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: all 0.5s ease;
  transform: translateY(0);
  cursor: pointer;
  overflow: hidden;
}
.tab_content h4 {
  font-family: "Noto Sans KR", sans-serif;
  color: #595049;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
}
.tab_content p {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 0;
}
.tab_content.active {
  transform: translateY(-20px) scale(1.02);
  padding: 60px 40px;
}
.tab_content.active h4 {
  font-weight: 700;
  font-size: 26px;
}
.tab_content.active p {
  opacity: 1;
  max-height: 500px;
  margin-top: 20px;
  text-align: center;
}
.bg_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(8%, 70%);
  font-family: "Antic Didone", serif;
  font-size: 300px;
  color: #595049;
  opacity: 0.08;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}


/*process 끝*/

/*service 시작*/
.service {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: block;
  position: relative;
}
.service .title_wrap {
  position: relative;
  text-align: center;
  margin: 150px 0 0 0;
}
.service .deco_square img{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 20px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 0;
}
.service .section_title {
  position: relative;
  z-index: 1;
  font-family: "Antic Didone", serif;
  font-weight: 600;
  font-size: 48px;
  color: #595049;
  transform: translateY(130px);
  letter-spacing: 2px;
}

/*service 끝*/