body {
    margin:0;
    top:0;
    left:0;
    padding: 0;
}
header {
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
}
.header_content {
    display: flex;
    justify-content: space-between;
}
.header_content a {
    width: 110px;
    height: 40px;
    text-decoration: none;
    font-family: "Antic Didone", serif;
    color: #595049;
    font-size: 23px;
}
.logo img {
 width: 108px;
 height: 90px;
}
.menu_btn i {
    width: 24px;
    height: 24px;
    color: #595049;
}
.nav_menu {
    display: none;
    overflow: hidden;
}