body {
    margin:0;
    top:0;
    left:0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F6F2EC;
}
header {
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
}
.header_content {
    display: flex;
    justify-content: space-between;
}
.header_content a {
    width: 110px;
    height: 40px;
    text-decoration: none;
    font-family: "Antic Didone", serif;
    color: #595049;
    font-size: 23px;
}
.logo img {
 width: 108px;
 height: 90px;
}
.menu_btn i {
    width: 24px;
    height: 24px;
    color: #595049;
}
/*off-canvas menu 작업*/
.menu_btn {
    font-size: 1.6rem;
    color: #595049;
    cursor: pointer;
    z-index: 1001;
}
/*메뉴 숨김*/
.nav_menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #595049;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 120px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.3s ease;
  z-index: 9999;
}

.nav_menu.active {
  right: 0;
}

.nav_menu li a {
  text-decoration: none;
  font-family: "Antic Didone", serif;
  color: #f8f6f2;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav_menu li a:hover {
  color: #A48D78;
}