<script src="https://kit.fontawesome.com/26136d9ff7.js" crossorigin="anonymous"></script>
.body {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family: Gowun Batang, serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.contact  {
    margin-left: 50px;
}