body {
    margin:0;
    top:0;
    left:0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F6F2EC;
}

/*header 시작*/
header {
    width: 100%;
    height: 100px;
    padding: 0 50px;
    box-sizing: border-box;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_content a {
    width: 110px;
    height: 40px;
    text-decoration: none;
    font-family: "Antic Didone", serif;
    color: #595049;
    font-size: 23px;
}
.logo img {
 width: 110px;
 height: 90px;
}
.menu_btn i {
    width: 24px;
    height: 24px;
    color: #595049;
}
/*off-canvas menu 작업*/
.menu_btn {
    font-size: 1.6rem;
    color: #595049;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}
/*메뉴 숨김*/
.nav_menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #F6F2EC;
  list-style: none;
  padding: 120px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.nav_menu.active {
  right: 0;
}

.nav_menu li a {
  text-decoration: none;
  font-family: "Antic Didone", serif;
  color: #595049;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav_menu li a:hover {
  color: #A48D78;
}
/*header 끝*/

/*main 시작*/
.main_view {
  display: flex;
  flex-direction: row;
}

.main_left {
  width: 807px;
  height: 1000px;
}
.content_box h2 {
  font-family: "Antic Didone", serif;
  font-size: 73px;
  color: #595049;
  line-height: 1.2;
  margin-top: 300px;
  margin-left: 126px;
}
.content_box p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #595049;
  line-height: 1.5;
  margin-top: 30px;
  margin-left: 126px;
}
.content_box a {
  display: inline-block;
  font-family: "Antic Didone", serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #595049;
  border: 1px solid #A48D78;
  border-radius: 50px;
  padding: 16px 10px;
  margin-left: 190px;
  margin-top: 30px;
}
  .main_right {
  width: 1113px;
  height: 1000px;
  padding: 16px;
}

/*main 끝*/

/*About 시작*/
.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 150px 0;
  overflow: hidden;
  margin-top: 300px;
}
.about .img_box {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.about .img_box_img01,
.about .img_box_img02,
.about .img_box_img03 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: absolute;  
}

.about .img_box_img01 {
  top: 70px;
  left: 15%;
  width: 35%;
}

.about .img_box_img02 {
  top: 170px;
  right: 19%;
  width: 25%;
}
.about .img_box_img03 {
  bottom: 100px;
  left: 40%;
  width: 22%;
}
.about .text_box {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 550px;
}
.about .text_box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  color: #595049;
  transform: translateY(40px);
  transition: 0.6s ease;
}
.about p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #595049;
  margin: 6px 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}
.about h3.show,
.about p.show {
  opacity: 1;
  transform: translateY(0);
}
.about p:nth-child(2).show { transition-delay: 0.2s;}
.about p:nth-child(3).show {transition-delay: 0.4s;}
.about p:nth-child(4).show {transition-delay: 0.6s;}
/*About 끝*/