body {
    margin:0;
    top:0;
    left:0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F6F2EC;
}

/*header 시작*/
header {
    width: 100%;
    height: 100px;
    padding: 0 50px;
    box-sizing: border-box;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_content a {
    width: 110px;
    height: 40px;
    text-decoration: none;
    font-family: "Antic Didone", serif;
    color: #595049;
    font-size: 23px;
}
.logo img {
 width: 110px;
 height: 90px;
}
.menu_btn i {
    width: 24px;
    height: 24px;
    color: #595049;
}
/*off-canvas menu 작업*/
.menu_btn {
    font-size: 1.6rem;
    color: #595049;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}
/*메뉴 숨김*/
.nav_menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #F6F2EC;
  list-style: none;
  padding: 120px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.nav_menu.active {
  right: 0;
}

.nav_menu li a {
  text-decoration: none;
  font-family: "Antic Didone", serif;
  color: #595049;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav_menu li a:hover {
  color: #A48D78;
}
/*header 끝*/

/*main 시작*/
.main_view {
  display: flex;
  flex-direction: row;
}

.main_left {
  width: 807px;
  height: 1000px;
}
.content_box h2 {
  font-family: "Antic Didone", serif;
  font-size: 73px;
  color: #595049;
  line-height: 1.2;
  margin-top: 300px;
  margin-left: 126px;
}
.content_box p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #595049;
  line-height: 1.5;
  margin-top: 30px;
  margin-left: 126px;
}
.content_box a {
  display: inline-block;
  font-family: "Antic Didone", serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #595049;
  border: 1px solid #A48D78;
  border-radius: 50px;
  padding: 16px 10px;
  margin-left: 190px;
  margin-top: 30px;
}
  .main_right {
  width: 1113px;
  height: 1000px;
  padding: 16px;
}

/*main 끝*/

/*About 시작*/
.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 300px;
}
.about .img_box {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.about .img_box_img01,
.about .img_box_img02,
.about .img_box_img03 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: absolute;  
}

.about .img_box_img01 {
  top: 10%;
  left: 15%;
  width: 35%;
}

.about .img_box_img02 {
  top: 18%;
  right: 17%;
  width: 25%;
}
.about .img_box_img03 {
  bottom: 2%;
  left: 38%;
  width: 30%;
}
.about .text_box {
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide_text {
  opacity: 0;
  transform: translateY(60px);
  will-change: transform, opacity;
}
.show_text {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease-out;
}
.about .text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.about .text_box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6rem;
  color: #3e322a;
  
}
.about p {
  font-family: "Antic Didone", serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: #3e322a;
  margin: 6px 0;
}
.parallax_active {
  transform: translateY(var(--parallax-shift, 0px));
}

/*About 끝*/

/*Portfolio 시작*/
.portfolio {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.title_wrap {
  position: relative;
  text-align: center;
  margin-top: 150px
}
.deco_square img{
  position: absolute;
  top: -20px;
  left: calc(50% - 140px);
  width: 100px;
  height: 100px;
}
.title_wrap .section_title {
  font-family: "Antic Didone", serif;
  font-size: 36px;
  color: #595049;
  transform: translateY(40px);
}
.scroll_container {
  width: auto;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 50px 0;
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  margin-top: 100px;
}
.scroll_container li {
  list-style: none;
  display: inline-block;
}
.scroll_container img {
  width: 509px;
  height: 509px;
  object-fit: cover;
  border-radius: 17px;

}
.scroll_container::-webkit-scrollbar {
  display: none;
}
/*Portfolio 끝*/

/*rest 시작*/
.rest {
  width: 100%;
  height: 1048px;
  background-image: url(mid-background.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.rest .rest_content {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translateY(-30%);
}
.rest .rest_content h3 {
  font-family: "GounBatang", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #595049;
  line-height: 1.5;
}
/*rest 끝*/

/*process 시작*/
.
/*process 끝*/